.contact-div {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.contact-form {
    width: 1000px;
    margin-bottom: 20px;
}


.title {
    text-align: center;
}

@media (max-width: 1300px){
    .contact-div {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .contact-form {
        width: 75%;
        margin-bottom: 20px;
    }
}