.project-element {
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    overflow: hidden;
    transition: all 1s ease-in-out, opacity 1s ease-out;
    max-height: 50px;
}

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.title {
  cursor: pointer;
  margin-bottom: 20px;
}

.p-title {
  font-weight: bolder;
}


.link-button {
  background: lightblue;
  color: black;
  font-weight: bold;
  transition-duration: 0.5s;
  text-align: center;
  text-decoration: none;
  padding: 10px 10px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
}

.link-button:hover {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
}

.close-button {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
  transition: 0.4s;
}
