.project-element {
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: all 1s ease-in-out, opacity 1s ease-out;
    max-height: 50px;
    font-size: large;
}

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  overflow-y: auto;
}

.title {
  cursor: pointer;
  margin-bottom: 10px;
  display: inline-flex;
  align-items: center;
  position: relative;
  transition: 0.5s;
  font-weight: 500;
}

.title:after {
  content: '»';
  font-size: 36px;
  position: absolute;
  opacity: 0;  
  top: 50%;
  transform: translateY(-50%);
  right: -100px;
  transition: 0.5s;
}

.title:hover{
  padding-right: 40px;
  padding-left: 8px;
}

.title:hover:after {
  opacity: 1;
  top: 8px;
  right: 10px;
}

.p-title {
  font-weight: bolder;
}


.link-button {
  background: lightblue;
  color: black;
  border-radius: 10px;
  transition-duration: 0.3s;
  text-align: center;
  text-decoration: none;
  padding: 10px 10px;
  cursor: pointer;
  display: inline-block;
  font-size: medium;
}

.link-button:hover {
  background-color: #ddd;
}

.link-button:hover {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
}

.close-button {
  background: lightblue;
  color: black;
  border-radius: 10px;
  font-size: large;
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
  transition: 0.3s;
}

.close-button:hover {
  background-color: #ddd;
}
