.cf-section {
    padding: 20px;
    border: 2px solid;
    border-radius: 8px;
}

.cf-section h3 {
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-group textarea {
    resize:none;
}