body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eaecf2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:visited, a:link {
  text-decoration: none;
  color: inherit;
}

.header { 
  overflow: hidden;
  padding: 20px 10px;
}

.header a {
  float: left;
  text-align: center;
  padding: 10px;
}

.header a.name{
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}

.header-right a:hover {
  background-color: #ddd;
  color: black;
}

.header-right {
  float: right;
}

.head-section {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 30px 30px;
}

.head-section-right img {
  max-width: 261px;
  max-height: 346.5px;
  height: auto\9;
  width: auto\9;
}

.head-section-right {
  margin-left: 50px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-button {
  width: 100px;
  height: 100px;
  margin: 0 10px;
}

.resume-button {
  background: lightblue;
  border-radius: 25px;
  color: black;
  max-width: 500px;
  transition-duration: 0.5s;
  padding: 25px 100px;
  font-size: larger;
}

.resume-button:hover {
  background-color: #ddd;
}

.about-intro {
  text-align: center;
  padding: 20px;
}

.about-p {
  text-align: center;
  border-radius: 25px;
  border: 2px solid lightblue;
  margin: 0 auto;
  padding-bottom: 20px;
  margin-bottom: 30px;
  max-width: 750px;
}

.about-p h3 {
  text-shadow: 2px 2px 2px gray;
}

.about-p p {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.about-p:hover {
  background-color: #ddd;
  transition-duration: 0.5s;
  color: black;
}

.lm-button {
  background: lightblue;
  border-radius: 25px;
  color: black;
  max-width: 500px;
  transition-duration: 0.5s;
  padding: 25px 100px;
  font-size: larger;
}

.lm-button:hover {
  background-color: #ddd;
}

.pc-container {
  display: flex;
  justify-content: center;
  
}

.projects-b {
  background: lightblue;
  border-radius: 25px;
  color: black;
  width: 400px;
  height: 50px;
  transition-duration: 0.5s;
  font-size: larger;
}

.projects-b:hover {
  background-color: #ddd;
}

.contact-b {
  background: lightblue;
  border-radius: 25px;
  color: black;
  width: 400px;
  height: 50px;
  transition-duration: 0.5s;
  font-size: larger;
}

.contact-b:hover {
  background-color: #ddd;
}
