body {
  margin: 0;
  font-family: Georgia, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eaecf2;
}

button {
  font-family: Georgia, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:visited, a:link {
  text-decoration: none;
  color: inherit;
}


.head-section {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.head-section h1 {
  font-size: 50px;
  font-family: (--font-inter)
}

.head-section h2 {
  font-size: 30px;
  text-decoration: none;
  margin-top: -40px;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: larger;
  padding-bottom: 20px;
}

.social-link {
  padding: 0px 10px;
  transition: transform 0.5s;
}

.social-link:hover {
  transform: translateY(-10px);
}


.resume-button {
  background: transparent;
  border-radius: 6px;
  color: black;
  border: 2px solid #324680;
  max-width: 400px;
  transition-duration: 0.5s;
  padding: 15px 50px;
  font-size: larger;
}


.resume-button:hover {
  background-color: #324680;
  color: #ddd;
  transform: scale(1.1)
}

hr {
  color:#324680;
  width: 80%;
  margin-top: 30px;
  border: 5px solid #324680
}


.about-intro {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 10px;
  justify-items: center;
}


@media (min-width: 1300px) {
  .about-intro {
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 100px;
  }
}

.about-header {
  font-size: 30px;
  text-decoration: none;
}

.about-p {
  text-align: center;
  border-radius: 25px;
  border: 2px solid #333;
  margin: 0 50px;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 750px;
  box-sizing: border-box;
}

.about-p p {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.about-p:hover {
  background-color: #ddd;
  transition-duration: 0.5s;
  color: black;
  transform: scale(1.05);
}


.pc-container {
  display: flex;
  justify-content: center;
  
}

.projects-b, .contact-b {
  background: transparent;
  width: 500px;
  margin: 10px 30px;
  height: 50px;
  border: 2px solid #324680;
  color: black;
  border-radius: 6px;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-size: larger;
}

.projects-b:hover, .contact-b:hover {
  border-radius: 50px;
  background-color: #324680 !important;
  color: #fff !important;
}

@media(max-width: 1000px ) {

  .pc-container {
    flex-direction: column;
    align-items: center;
  }

  .projects-b, .contact-b {
    width: 450px;
    margin: 10px 0;
    font-size: large;
}
}

@media(max-width: 768px) {
  .pc-container {
    flex-direction: column;
    align-items: center;
  }

  .projects-b, .contact-b {
    width: 400px;
    margin: 10px 0;
    font-size: large;
}
}

@media(max-width: 400px) {

  .projects-b, .contact-b {
    width: 300px;
    margin: 10px 0;
    font-size: medium;
}
}